/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

.fusion-portfolio-content-wrapper .fusion-portfolio-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed #274912;
}

/* content box*/
.fusion-content-boxes .content-wrapper-background {
    padding: 35px 35px 20px;
}
table {border:0;}

/*home imagenes noticias*/
